<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction date:</strong>
  <%= @transactions_history.transaction_date %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @transactions_history.bank_account %>
</p>

<p>
  <strong>Contra account:</strong>
  <%= @transactions_history.contra_account %>
</p>

<p>
  <strong>Contra account owner:</strong>
  <%= @transactions_history.contra_account_owner %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transactions_history.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @transactions_history.currency %>
</p>

<p>
  <strong>Funding type:</strong>
  <%= @transactions_history.funding_type %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @transactions_history.desc %>
</p>

<%= link_to 'Edit', edit_transactions_history_path(@transactions_history) %> |
<%= link_to 'Back', transactions_histories_path %>
