<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :transaction_date %>
    <div><%= form.date_select :transaction_date %></div>
  </div>
  <div class="field">
    <%= form.label :bank_account %>
    <div><%= form.text_field :bank_account %></div>
  </div>
  <div class="field">
    <%= form.label :contra_account %>
    <div><%= form.text_field :contra_account %></div>
  </div>
  <div class="field">
    <%= form.label :contra_account_owner %>
    <div><%= form.text_field :contra_account_owner %></div>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <div> <%= form.text_field :amount %></div>
  </div>
  <div class="field">
    <%= form.label :currency %>
    <div> <%= form.text_field :currency %></div>
  </div>
  <div class="field">
    <%= form.label :funding_type %>
    <div><%= form.text_field :funding_type %></div>
  </div>
  <div class="field">
    <%= form.label :desc %>
    <div><%= form.text_field :desc %></div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
